body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  padding: 0px;
  margin: 0px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1024px;
}

@media (min-width: 768px) {
  .ps-lg-6 {
    padding-left: 6rem;
  }
  .pe-lg-6 {
    padding-right: 6rem;
  }
}
.site-header {
  background-color: #201c1c;
  padding-bottom: 3px;
}
.site-header .navbar-nav {
  align-items: center;
}
.site-header .navbar-brand {
  margin-right: 57px;
}
.site-header #navbarSupportedContent {
  margin-top: 10px;
}
.site-header .nav-item .nav-link {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #e8e8e8;
}
.site-header .nav-item:not(:last-child) {
  margin-right: 48px;
}
.site-header .nav-item form .form-control {
  padding: 0px;
  background-color: transparent;
  border: unset;
}
.site-header .nav-item form .form-control::-moz-placeholder {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #585858;
}
.site-header .nav-item form .form-control::placeholder {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #585858;
}
.site-header .nav-divider {
  position: relative;
  margin-right: 100px !important;
}
.site-header .nav-divider::after {
  content: "";
  height: 32px;
  width: 2px;
  position: absolute;
  top: 0;
  right: -50px;
  background-color: #3c3c3c;
}

.hero-section {
  background-color: #1a1a1a;
  padding: 17px 0px;
}
.hero-section .left {
  padding-left: 3%;
}
.hero-section .left h1 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.04em;
  max-width: 470px;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero-section .left p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.75);
  max-width: 496px;
}
.hero-section .left .join-btn {
  background: #eb503f;
  border: 1px solid #eb503f;
  border-radius: 3px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 27px;
}
.hero-section .hero-slider .swiper-slide {
  width: 450px !important;
}
.hero-section .hero-slider .swiper-slide h3 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 17px;
}
.hero-section .hero-slider .swiper-slide p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 8px;
}
.hero-section .swiper-actions {
  margin-top: 17px;
  gap: 8px;
}
.hero-section .swiper-actions .hero-prev,
.hero-section .swiper-actions .hero-next {
  border: 1px solid #fff;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-style: dotted;
}
.hero-section .swiper-actions .hero-prev i,
.hero-section .swiper-actions .hero-next i {
  margin-left: 15px;
  color: #eb503f;
}
.hero-section .swiper-actions .swiper-button-disabled {
  border: 1px solid rgba(255, 255, 255, 0.25) i;
  border-color: rgba(255, 255, 255, 0.25);
}

.blog-section {
  padding: 75px 0px;
}
.blog-section h2 {
  font-size: 1.5rem;
  color: #000;
  font-family: "Metropolis";
  font-weight: 400;
}
.blog-section .swiper-actions {
  margin-top: 17px;
  gap: 8px;
}
.blog-section .swiper-actions .blog-btn {
  border: 1px solid #eb503f;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-style: dotted;
}
.blog-section .swiper-actions .blog-btn i {
  margin-left: 15px;
  color: #eb503f;
}
.blog-section .swiper-actions .swiper-button-disabled {
  border: 1px solid rgba(255, 255, 255, 0.25) i;
  border-color: rgba(255, 255, 255, 0.25);
}
.blog-section .card {
  height: 556px;
  border: 1px solid #eff2f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 5px;
}
.blog-section .card:hover .card-body {
  top: 200px;
}
.blog-section .card .card-body {
  position: absolute;
  top: 252px;
  padding: 20px;
  background-color: #fff;
}
.blog-section .card .card-body .avatar {
  position: absolute;
  right: 15px;
  top: -34px;
}
.blog-section .card .card-body .avatar img {
  height: 65px;
  width: 65px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.blog-section .card .card-body .card-category {
  margin-bottom: 10px;
}
.blog-section .card .card-body .card-category h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Metropolis";
  color: rgb(101, 114, 133);
}
.blog-section .card .card-body .card-title {
  color: rgb(22, 38, 61);
  font-weight: 700;
  font-size: 18px;
  font-family: "Metropolis";
}
.blog-section .card .card-body .card-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Metropolis";
  color: rgb(101, 114, 133);
  margin-bottom: 108px;
}
.blog-section .card .card-body .categories {
  margin-bottom: 15px;
}
.blog-section .card .card-body .categories a {
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgb(252, 231, 248);
  border: 0;
  color: #000;
}
.blog-section .card .card-body .card-footer {
  background-color: #fff;
}
.blog-section .card .card-body .card-footer p {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgb(101, 115, 133);
}
.blog-section .card .card-body .card-footer p span {
  font-weight: 700;
  color: #000;
}

.raising-now-section {
  padding-top: 132px;
  padding-bottom: 74px;
  background-image: url(/images/raising-bg.png?8bb4d3345b193e8afffb2daea8c2eb98);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.raising-now-section .section-header {
  margin-bottom: 38px;
}
.raising-now-section .section-header h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.raising-now-section .section-header .swiper-actions {
  gap: 8px;
}
.raising-now-section .section-header .swiper-actions .raising-prev,
.raising-now-section .section-header .swiper-actions .raising-next {
  border: 1px solid #1a1a1a;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.raising-now-section .section-header .swiper-actions .raising-prev i,
.raising-now-section .section-header .swiper-actions .raising-next i {
  margin-left: 7px;
  color: #1a1a1a;
}
.raising-now-section .section-header .swiper-actions .swiper-button-disabled {
  border: 1px solid #aeaeae;
}
.raising-now-section .section-header .swiper-actions .swiper-button-disabled i {
  color: #aeaeae;
}
.raising-now-section .card {
  background: #ffffff;
  box-shadow: 0px 1.66603px 6.66413px rgba(27, 35, 52, 0.12);
}
.raising-now-section .card .card-img-top {
  height: 178px;
}
.raising-now-section .card .card-body {
  padding: 11px;
}
.raising-now-section .card .card-body .card-title {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 15.33px;
  line-height: 17px;
  color: #1e293b;
  max-width: 160px;
}
.raising-now-section .card .card-body .card-text {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 10.8292px;
  line-height: 13px;
  color: #475569;
  margin-bottom: 5px;
}
.raising-now-section .card .card-body .tag p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14.9943px;
  line-height: 17px;
  color: #a6d388;
}
.raising-now-section .card .card-footer {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 11px;
}
.raising-now-section .card .card-footer .left {
  gap: 13px;
}
.raising-now-section .card .card-footer .left div {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 13.3283px;
  line-height: 17px;
  color: #475569;
}
.raising-now-section .card .card-footer .right {
  gap: 13px;
}
.raising-now-section .card .card-footer .right button {
  border: 0.833016px solid #cbd5e1;
  border-radius: 6.66413px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.raising-now-section .card .card-footer .right .btn-orange {
  border: 0.833016px solid #eb503f;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 13.3283px;
  line-height: 17px;
  color: #ef6c36;
}
.raising-now-section .see-all-company-btn {
  margin-top: 115px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border: 1px solid #3077b8;
  border-radius: 3px;
  color: #3077b8;
  padding: 13px 45px;
}

.coffee-shop-to-car-section {
  padding: 64px 0px;
}
.coffee-shop-to-car-section .container {
  max-width: 1024px;
}
.coffee-shop-to-car-section h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #16263d;
  margin-bottom: 11px;
}
.coffee-shop-to-car-section p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #657285;
  margin-bottom: 50px;
}
.coffee-shop-to-car-section .category-wrapper {
  display: flex;
  flex-direction: column;
}
.coffee-shop-to-car-section .category-wrapper button {
  background: #3077b8;
  border-radius: 0;
  padding: 17px 0px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
}
.coffee-shop-to-car-section .category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.coffee-shop-to-car-section .category .category-items {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 10px 16px;
}
.coffee-shop-to-car-section .category .category-items a {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #475260;
}
.coffee-shop-to-car-section .find-more-category-btn {
  margin-top: 32px;
  border: 1px solid #3077b8;
  border-radius: 3px;
  padding: 9.6001px 38.4563px 8.9999px 36.8px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #3077b8;
}

.features-section h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #16263d;
  margin-bottom: 11px;
}
.features-section h2 span {
  color: #eb503f;
}
.features-section p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #657285;
  margin-bottom: 50px;
}
.features-section .image-box img {
  display: block;
  margin: 0 auto;
  height: 110px;
}
.features-section .image-box h5 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
}
.features-section .image-box p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #657285;
}

.angel-investor-section {
  background: #1a1a1a;
  padding: 75px 0px;
}
.angel-investor-section h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #fff;
  margin-bottom: 11px;
  text-transform: uppercase;
}
.angel-investor-section h2 span {
  color: #eb503f;
}
.angel-investor-section p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 660px;
}
.angel-investor-section .angel-investor-box img {
  margin-bottom: 22px;
}
.angel-investor-section .angel-investor-box p {
  margin-bottom: 20px;
  text-align: left;
}
.angel-investor-section .angel-investor-box h3 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}
.angel-investor-section .angel-investor-box h4 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.testimonial-section {
  padding: 75px 0px;
  background: #1a1a1a;
}
.testimonial-section .container {
  max-width: 1280px;
}
.testimonial-section h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.testimonial-section p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #e89f11;
  margin-top: 4px;
}
.testimonial-section .testimonial-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.testimonial-section .testimonial-wrapper img {
  border: 1px solid rgba(242, 245, 248, 0.5);
  border-radius: 50%;
}

.impact-report-section {
  flex-wrap: wrap;
  margin: 0px;
}
.impact-report-section .red-bg {
  width: 33%;
  background: #eb503f;
}
.impact-report-section .red-bg h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 257px;
}
.impact-report-section .red-bg p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.impact-report-section .red-bg .see-result-btn {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  padding: 14px;
  margin-top: 25px;
}
.impact-report-section .white-bg {
  width: 66%;
  padding: 6rem;
}
.impact-report-section .white-bg .counter-wrapper h3 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0c3860;
}
.impact-report-section .white-bg .counter-wrapper p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0c3860;
  margin-top: 9px;
}
.impact-report-section .white-bg .impact-report-btn {
  background: #3077b8;
  border-radius: 3px;
  padding: 17px 0px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffffff;
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}
.impact-report-section .white-bg img {
  margin-bottom: 30px;
}
.impact-report-section .white-bg p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #1a1a1a;
}
.impact-report-section .white-bg p a {
  text-decoration: underline;
}
.impact-report-section .white-bg .raised {
  color: #eb503f;
}

.contact-section {
  padding: 65px 0px;
  background: #fbfbfb;
}
.contact-section h2 {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.contact-section p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 12px;
}
.contact-section .social-login a {
  padding: 14px 16px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  margin-bottom: 15px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.contact-section .social-login a img {
  margin-right: 60px;
}
.contact-section .bar {
  height: 260px;
  width: 2px;
  background-color: #eff2f7;
  display: block;
  margin: 0 auto;
}
.contact-section form .form-control {
  background: #ffffff;
  border: 1px solid #d4ddea;
  border-radius: 8px;
  padding: 20px 12px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8b97a7;
}
.contact-section form .form-control::-moz-placeholder {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8b97a7;
}
.contact-section form .form-control::placeholder {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8b97a7;
}
.contact-section form .btn-sign-up {
  padding: 13px 0px;
  width: 100%;
  background: #0a76d1;
  border-radius: 3px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

footer {
  padding-top: 48px;
  padding-bottom: 71px;
}
footer .container {
  max-width: 1280px;
}
footer .footer-text {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
footer .impact-report-btn {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #3077b8;
  border: 1px solid #3077b8;
  border-radius: 3px;
  padding: 18px 0px;
  width: 100%;
  margin-top: 12px;
}
footer .footer-nav li a {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #585858;
}
footer .footer-nav li a i {
  margin-right: 4px;
}
footer .footer-nav li:not(:last-child) {
  margin-bottom: 27px;
}
footer .footer-bottom {
  margin-top: 85px;
}
footer .footer-bottom p {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
footer .footer-bottom .footer-horizontal-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
footer .footer-bottom .footer-horizontal-nav li a {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #aeaeae;
}
footer .footer-bottom .social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footer-bottom .social-icons li a {
  color: #aeaeae;
}

@media (min-width: 0px) and (max-width: 768px) {
  .hero-section .left {
    margin-bottom: 30px;
  }
  .impact-report-section .red-bg,
  .impact-report-section .white-bg {
    padding: 2rem;
  }
  .contact-section .bar {
    height: 2px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .angel-investor-box {
    margin-top: 30px;
  }
  .site-header .navbar-nav {
    align-items: flex-start;
  }
  .navbar-toggler {
    border-color: #fff;
  }
  .navbar-toggler-icon {
    color: #fff;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .impact-report-section {
    flex-wrap: wrap;
  }
  .impact-report-section .red-bg {
    width: 100%;
  }
  .impact-report-section .white-bg {
    width: 100%;
  }
  footer .footer-bottom .social-icons {
    justify-content: flex-start;
    margin-top: 20px;
  }
  .impact-report-section .white-bg .impact-report-btn {
    width: 100%;
  }
}
