.raising-now-section {
    padding-top: 132px;
    padding-bottom: 74px;
    background-image: url("../img/raising-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
